@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


/* Boiler plate standard reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}


/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  /* sets header to far left, navbar to far right */
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  /* stick to top */
  position: fixed;
  top: 0px;
  padding: 0 30px;
}



.navbar a {
   color: #fff;
   padding: 10px 20px;
   margin: 0px 5px;
}

.navbar a:hover {
  /* underline when hover */
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  /* make horizontal */
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

.navbar .logo a:hover {
  border-bottom: none;
}



/* Header / hero / showcase */
.hero {
  background: url('../img/home/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1{
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}


.hero::before {
  /* overlay to darken picture */
  /* empty string for content */
  content: '';
  /* position of parent must be relative */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* rgba color black with alpha of 0.6 */
  background: rgba(0,0,0,0.6);
}

.hero * {
  /* higher number is closer to viewer */
  z-index: 10;
}


/* Icons */
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  /* make icons green and round */
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* solutions sections */
.flex-columns img {
  width:100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}


/* Cases */
.cases img:hover {
  opacity: 0.7;
}

.cases img {
  /* make all images same height */
  height: 50%;
}

.team img {
  border-radius: 50%;
}

