@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


/* Boiler plate standard reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}


/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  /* sets header to far left, navbar to far right */
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  /* stick to top */
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top {
  background: transparent;
}



.navbar a {
   color: #fff;
   padding: 10px 20px;
   margin: 0px 5px;
}

.navbar a:hover {
  /* underline when hover */
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  /* make horizontal */
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

.navbar .logo a:hover {
  border-bottom: none;
}



/* Header / hero / showcase */
.hero {
  background: url('../img/home/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1{
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}


.hero::before {
  /* overlay to darken picture */
  /* empty string for content */
  content: '';
  /* position of parent must be relative */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* rgba color black with alpha of 0.6 */
  background: rgba(0,0,0,0.6);
}

.hero * {
  /* higher number is closer to viewer */
  z-index: 10;
}

.hero.blog {
  background: url('../img/home/blog.jpg') no-repeat center 
  center / cover;
  height: 50vh;
}





/* Icons */
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  /* make icons green and round */
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

.icons i:hover {
  background-color: #333;
}

/* solutions sections */
.flex-columns img {
  width:100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}


/* Cases */
.cases img:hover {
  opacity: 0.7;
}

.cases img {
  /* make all images same height */
  height: 50%;
}

.team img {
  border-radius: 50%;
}


/* Contact / callback form */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;

}

/* works, just not on firefox */
.callback-form input:focus {
  outline-color: #28a745;
  /* outline: #28a745; */
}


.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
}


/* post */
.post {
  padding: 50px 30px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #fff;
}

.post .meta {
  margin-bottom: 30px;
}

.post img {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}





/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #28a745;
}

.footer .social > * {
  margin-right: 30px;
}



/* Responsive queries */
@media(max-width: 768px){
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column, .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
    border-radius: 10%;
    
  }

  .cases img {
    height: auto;
    display: none;
  }

  .section-header h2 {
    font-size: 30px;
  }
}