/* Text colors */

.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

/* Background classes */


/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
}

/* button styles */
.btn:hover {
  opacity: 0.9;
}
.btn-primary, .bg-primary {
  color: #fff;
  background: #28a745;
}
.btn-secondary, .bg-secondary{
  color: #fff;
  background: #0284d0;
}
.btn-dark, .bg-dark{
  color: #fff;
  background: #333;
}
.btn-light, .bg-light{
  color: #333;
  background: #f4f4f4;
}
.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

/* Flex items */
.flex-items {
  /* display icon boxes in a row with centered text */
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex columns */
.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%

}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}


/* Section header */
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}

.section-padding {
  padding: 20px 20px 40px;
}

/* FLex grid */
.flex-grid .row {
  /* make pics into a row */
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  /* place rows of pics into 4 columns accross */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.flex-reverse .row {
  flex-direction: row-reverse;
}


